<div class="container" ng-app="peviApp">

    <!--<div class="container-navigation">-->
        <!--<h5>Navigation:</h5>-->
        <!--<ul class="breadcrumb">-->
            <!--<li><a href="#">Home</a></li>-->
            <!--<li><a href="#">Expenses</a></li>-->
        <!--</ul>-->
    <!--</div>-->

    <!--<div class="rcrumbs" id="breadcrumbs">-->
        <!--<ul>-->
            <!--<li><a href="#/intro">Home</a></li>-->
            <!--<li><a>Expenses</a></li>-->
            <!--&lt;!&ndash;<li><a href="#">...</a><span class="divider">></span></li>&ndash;&gt;-->
        <!--</ul>-->
    <!--</div>-->
    <!--<script>-->
        <!--jQuery(document).ready(function() {-->
            <!--$("#breadcrumbs").rcrumbs({-->
                <!--animation: {-->
                    <!--activated: true, speed: 200-->
                <!--}-->
            <!--});-->
        <!--});-->
    <!--</script>-->

    <!-- <div class="container" ng-controller="ProductListCtrl"> -->

    <!-- The navigation menu will get the value of the "active" variable as a class.
     The $event.preventDefault() stops the page from jumping when a link is clicked. -->



    <!-- <nav class="{{active}}" ng-click="$event.preventDefault()">
        <a href="#" class="home" ng-click="active='home'">Home</a>
        <a href="#" class="projects" ng-click="active='projects'">Projects</a>
        <a href="#" class="services" ng-click="active='services'">Services</a>
        <a href="#" class="contact" ng-click="active='contact'">Contact</a>
    </nav> -->

    <!-- ng-show will show an element if the value in the quotes is truthful,
         while ng-hide does the opposite. Because the active variable is not set
         initially, this will cause the first paragraph to be visible. -->

    <!-- <p ng-hide="active">Please click a menu item</p> -->
    <!-- <p ng-show="active">You chose <b>{{active}}</b></p> -->

    <div class="row">
        <div class="col s12 pevi-content">

            <h3>Expenses</h3>

            <div class="control">
                <!-- used for searching the current list -->
                <input type="text" ng-model="search" class="form-control search" placeholder="Search expense...">
                <!-- floating button for creating product -->
                <div class="fixed-action-btn" style="flex: 1 1 0; text-align: right;">
                    <!-- <button type="button" class="btn btn-default" ng-click="open()">Open me!</button> -->
                    <!--<a class="waves-effect waves-light btn modal-trigger btn-floating btn-large red"  ng-click="open(categories)"><i class="large material-icons">add</i></a>-->
                    <a class="btn modal-trigger btn-floating btn-large add-expense custom-tooltip" data-original-title="Add New Expense" data-toggle="tooltip" data-placement="top"  ng-click="open(categories)"><i class="large material-icons">add</i></a>
                </div>
            </div>

            <!-- table that shows product record list -->
            <table class="hoverable bordered">
                <thead>
                <tr>
                    <!--<th class="text-align-center">ID</th>-->
                    <th class="width-10-pct" ng-click="order('name')">Name<span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span></th>
                    <th class="width-15-pct" ng-click="order('description')">Description<span class="sortorder" ng-show="predicate === 'description'" ng-class="{reverse:reverse}"></span></th>
                    <th class="text-align-left width-15-pct" ng-click="order('category')">Category<span class="sortorder" ng-show="predicate === 'category'" ng-class="{reverse:reverse}"></span></th>
                    <th class="text-align-left width-20-pct" ng-click="order('category_desc')">Category description<span class="sortorder" ng-show="predicate === 'category_desc'" ng-class="{reverse:reverse}"></span></th>
                    <th class="text-align-center width-15-pct" ng-click="order('created')">Created<span class="sortorder" ng-show="predicate === 'created'" ng-class="{reverse:reverse}"></span></th>
                    <th class="text-align-center width-20-pct">Action</th>
                </tr>
                </thead>
                <tbody ng-init="getAll()">
                <tr ng-repeat="d in names | filter:search | orderBy:predicate:reverse">
                    <!--<td class="text-align-center">{{ d.id }}</td>-->
                    <td>{{ d.name }}</td>
                    <td>{{ d.description }}</td>
                    <td>{{ d.category }}</td>
                    <td>{{ d.category_desc }}</td>
                    <td class="text-align-center">{{ d.created }}</td>
                    <td class="text-align-center">
                        <a ng-click="editExpense(d.id, categories)" class="waves-effect waves-light btn margin-bottom-1em custom-tooltip" tooltip-loader data-original-title="Edit" data-toggle="tooltip" data-placement="top"><i class="material-icons md-dark left">edit</i></a>
                        <a ng-click="deleteExpense(d.id)" class="waves-effect waves-light btn margin-bottom-1em custom-tooltip" tooltip-loader data-original-title="Delete" data-toggle="tooltip" data-placement="top"><i class="material-icons md-dark left">delete</i></a>
                    </td>
                </tr>
                </tbody>
            </table>



            <!-- <div id="modal-product-form" class="modal">
                <div class="modal-content">
                    <h4 id="modal-product-title">Create New Product</h4>

                    <div class="row">
                        <div class="input-field col s12">
                            <input ng-model="name" type="text" class="validate" id="form-name" placeholder="Type name here..." />
                            <label for="name">Name</label>
                        </div>
                        <div class="input-field col s12">
                            <textarea ng-model="description" type="text" class="validate materialize-textarea" placeholder="Type description here..."></textarea>
                            <label for="description">Description</label>
                        </div>
                        <div class="input-field col s12">
                            <input ng-model="price" type="text" class="validate" id="form-price" placeholder="Type price here..." />
                            <label for="price">Price</label>
                        </div>
                        <div class="input-field col s12">
                            <a id="btn-create-product" class="waves-effect waves-light btn margin-bottom-1em" ng-click="createProduct()"><i class="material-icons left">add</i>Create</a>

                            <a id="btn-update-product" class="waves-effect waves-light btn margin-bottom-1em" ng-click="updateProduct()"><i class="material-icons left">edit</i>Save Changes</a>

                            <a class="modal-action modal-close waves-effect waves-light btn margin-bottom-1em" ng-click="close()"><i class="material-icons left">close</i>Close</a>
                        </div>
                    </div>
                </div>
            </div> -->

            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <h4 id="modal-product-title">Create new expense</h4>
                </div>
                <div class="modal-body">
                    <div class="">
                        <div class="input-field col s12">
                            <label for="name">Name</label>
                            <input ng-model="name" type="text" class="validate" id="form-name" placeholder="Type name here..." />
                        </div>
                        <div class="input-field col s12">
                            <label for="description">Description</label>
                            <textarea ng-model="description" type="text" class="validate materialize-textarea" placeholder="Type description here..."></textarea>
                        </div>
                        <div class="input-field col s12">
                            <label for="category">Category</label>
                            <select ng-model="category" ng-options="item.name for item in items track by item.id">
                                <!--<option ng-repeat="item in items" value="{{item.id}}">{{item.name}}</option>>-->
                            </select>
                        </div>
                        <!--<div class="input-field col s12">-->
                        <!--<a id="btn-create-product" class="waves-effect waves-light btn margin-bottom-1em" ng-click="createExpense()"><i class="material-icons left">add</i>Create</a>-->
                        <!---->
                        <!--<a id="btn-update-product" class="waves-effect waves-light btn margin-bottom-1em" ng-click="updateProduct()"><i class="material-icons left">edit</i>Save Changes</a>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="createExpense()">Create</button>
                    <button class="btn btn-cancel" ng-click="cancel()">Cancel</button>
                </div>
            </script>

            <script type="text/ng-template" id="updateModal.html">
                <div class="modal-header">
                    <h4 id="modal-expense-title">Update expense</h4>
                </div>
                <div class="modal-body">
                    <div class="">
                        <div class="input-field col s12">
                            <label for="name">Name</label>
                            <input ng-model="expense.name" type="text" class="validate" id="form-name-update"/>
                        </div>
                        <div class="input-field col s12">
                            <label for="description">Description</label>
                            <textarea ng-model="expense.description" type="text" class="validate materialize-textarea"></textarea>
                        </div>
                        <div class="input-field col s12">
                            <label for="category">Category</label>
                            <select ng-model="category" ng-options="item.name for item in items track by item.id">
                                <!--<option ng-repeat="item in items" value="{{item.id}}">{{item.name}}</option>>-->
                            </select>
                        </div>
                        <!--<div class="input-field col s12">-->
                        <!--<a id="btn-create-product" class="waves-effect waves-light btn margin-bottom-1em" ng-click="createExpense()"><i class="material-icons left">add</i>Create</a>-->
                        <!---->
                        <!--<a id="btn-update-product" class="waves-effect waves-light btn margin-bottom-1em" ng-click="updateProduct()"><i class="material-icons left">edit</i>Save Changes</a>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="updateExpense()">Update</button>
                    <button class="btn btn-cancel" ng-click="cancel()">Cancel</button>
                </div>
            </script>
            <script>
                jQuery(document).ready(function(){
                    jQuery("a.custom-tooltip").tooltip({
                        effect: 'slide', container:'td'
                    });
                });
            </script>



        </div> <!-- end col s12 -->
    </div> <!-- end row -->



</div> <!-- end container -->